.register-body {
    z-index: 999;
    background: #00407D;
    padding-top:2px;
    text-align: left;
    /* box-shadow: 0px 2px 5px rgba(195, 195, 195, 0.7); */
    /* position:relative */
    width: 100%;
    height: 75vh !important;
  }
  .register-body-collapse{
    padding: 10px 10px 0px 20px !important;
  }
  .header-body {
    padding: 20px 10px 0px 10px !important;
    color: #ffffff !important;
    text-align: center;
  }
  .header-logo {
    margin-left: 20px;
    
    
  }
  .field-height{
    height: 5vh;
  }
  .button-1 {
    position: relative;
    width: 150px;
    height: 5vh;
    background-color: #626262;
  }
  .button-2 {
    position: relative;
    width: 150px;
    height: 5vh;
    background-color: #38A169;
  }
  #doubleDown{
    
    margin-left:50%;
    filter: invert(100%);
    height:30px;
  }
  #doubleDown:hover{
    cursor:pointer
  }
  .collapsed-return-box{
    align-self:center;
  }
  .schedule-of-classes{
    margin-top:0px;
    margin-bottom:0px;
    background-color: white;

  }
  /* .soc>tbody>tr:nth-child(2n+1)>td, 
  .soc>tbody>tr:nth-child(2n+1)>th {
    background-color: #dddddd;
  }
  .soc>tbody>tr:nth-child(2n)>td, 
  .soc>tbody>tr:nth-child(2n)>th {
    background-color: #f7f7f7;
  } */
  #department-title{
    color:white;
    font-size:large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  .department-title-wrapper{
    text-align:center;
  }
  .status-hover>tr>td{
    padding-left:5px;
    padding-right:5px;
  }
  .status-hover>tr>td{
    padding-left:5px;
    padding-right:5px;
  }
  .status-hover>tr>th{
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
  }
  .course-title>td{
    font-weight: bold;
    font-size: large;
  }