.register-body {
    z-index: 999;
    background: #00407D;
    padding: 30px 30px 50px 30px !important;
    text-align: left;
    /* box-shadow: 0px 2px 5px rgba(195, 195, 195, 0.7); */
    /* position:relative */
    width: 400px;
    height: auto;
  }
  .header-body {
    padding: 30px 10px 50px 10px !important;
    color: #ffffff !important;
    text-align: center;
  }
  .header-logo {
    margin-left: 20px;
    
  }
  .field-height{
    height: 50px;
  }
  .button-1 {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: #626262;
  }
  .button-2 {
    position: relative;
    width: 150px;
    height: 50px;
    margin-left: 40px;
    background-color: #38A169;
  }
